<!DOCTYPE html>
<html>
<head>
  <title>PartialsInRailsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <%= link_to "Home", root_path %>
    <%= link_to "About", pages_about_path %>
    <%= link_to "Contact", pages_contact_path %>
    <%= link_to "Posts", posts_path %>
  </div>

<%= yield %>

</body>
</html>
